* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.timeline h1 {
  text-align: center;
  font-weight: 300;
}
.timeline h1 span {
  font-weight: 600;
}
.timeline a {
  text-decoration: underline;
}
.timeline {
  padding: 15px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}
.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  float: left;
  direction: rtl;
}
.marker {
  width: 16px;
  height: 16px;
  border-radius: 40%;
  border: 2px solid #f5f7fa;
  background: #4fc1e9;
  margin-top: 10px;
  z-index: 9999;
}
.timeline-content {
  width: 95%;
  padding: 0 15px;
}
.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  text-align: inherit;
}
.timeline-content span {
  font-size: 18px;
}
.timeline-content p {
  font-size: 17px;
  line-height: 1.5em;
  word-spacing: 1px;
}
@media only screen and (max-width: 768px) {
  .timeline:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  .timeline-content h3 {
    font-size: 20px !important;
  }
  .timeline-content span {
    font-size: 16px !important;
  }
  .timeline-content p {
    font-size: 14px !important;
  }
}
